<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KURS</title>
    <link rel="stylesheet" href="/assets/app.css" />
    <link rel="manifest" href="/static/manifest.json">
    <script>
      window.addEventListener("load", async () => {
        if (navigator.serviceWorker) {
          try {
            await navigator.serviceWorker.register("/service_js.js");
          } catch (e) {
            console.log("Service worker is DEAD");
          }
        }
      });
    </script>
  </head>
  <body>
    <div
      class="grid lg:grid-cols-[2fr_600px] sm:grid-cols-[1fr] lg:grid-rows-[80px_max(100vh,100%)_100px] sm:grid-rows-[100px_1fr_min(1fr, 25%)_100px] h-full gap-4"
    >
      <div class="col-span-full flex flex-row justify-between p-4 items-center">
        <div class="flex flex-row gap-3 lg:px-[5rem] sm:px-[1rem] items-center">
          <img src="/static/loopa.png" alt="logo" class="w-[50px]">
          <h1 class="text-4xl font-bold">GoSearch</h1>
        </div>
        <ul class="flex flex-row list-none gap-10 text-lg px-10">
          <li></li>
            <a
              href="/"
              class="rounded-full bg-cyan-500 text-white py-1 px-6 hover:bg-cyan-700 active:bg-zinc-500 active:text-white"
              >Main</a
            >
          </li>
          <li>
            <button
              hx-get="/admin/panel"
              hx-swap="innerHTML"
              hx-target="#main"
              hx-trigger="click"
              class="rounded-full bg-cyan-500 text-white py-1 px-6 hover:bg-cyan-700 active:bg-zinc-500 active:text-white"
            >
              Admin
            </button>
          </li>
          <li>
            <button
              hx-get="/templates/about.html"
              hx-swap="innerHTML"
              hx-target="#main"
              hx-trigger="click"
              class="rounded-full bg-cyan-500 text-white py-1 px-6 hover:bg-cyan-700 active:bg-zinc-500 active:text-white"
            >
              About
            </button>
          </li>
        </ul>
      </div>
      <main class="flex flex-col gap-5 mx-[2rem] py-10" id="main">
        <div class="bg-amber-500 text-white font-bold flex flex-col p-3 gap-3 rounded">
          <p class="text-xl">ВНИМАНИЕ!</p>
          <p class="text-lg">Файловые форматы используемые набором ПО Microsoft Office не являются plain text форматами. При попытке открыть файлы с расширением .xlss, .docx, .pptx и так далее, вы увидете текстовое представление сжатых, словно архив, байтов, но не текст. Данное приложение поддерживает только файлы внутри которых находится голый текст, таких файлов как: .txt, .h, .c, .cpp, .go, .js, .json, .md, .org и так далее.</p>
        </div>
        <div class="border rounded border-slate-600 p-3 flex flex-col gap-5">
          <output
            id="fileOutput"
            class="overflow-y-scroll border-dashed border-lime-500 rounded p-3 transition-transform"
            style="height: 0px; border-width: 0px"
          ></output>
          <input type="file" id="fileInput" />
          <label for="search" class="w-full flex flex-row gap-3"
            >Search:<input
              type="text"
              name="search"
              id="fileSearch"
              class="border-2 rounded border-slate-500 w-full"
          /> <button id="searchBtn" class="bg-slate-500 px-5 text-white rounded">Search</button></label>
          <div
            class="flex flex-col gap-5 overflow-y-scroll border-dashed border-lime-500 rounded p-3 transition-transform"
            id="searchOutput"
            style="height: 0px; border-width: 0px"
          ></div>
        </div>
      </main>
      <aside class="flex flex-col gap-5 divide-y divide-solid px-4 py-10">
        <span class="text-xl">News</span>
        <div class="gap-5" hx-swap="innerHTML" hx-trigger="intersect" hx-get="/news"></div>
      </aside>
      <footer
        class="grid grid-cols-[1fr_1fr_1fr] grid-rows-[1fr] gap-4 bg-cyan-800 lg:row-start-3 sm:row-start-4 col-span-full p-4"
      >
        <div class="text-white col-start-2 flex items-end justify-center">
          2024 (c) Наугольнов Артём ИС-41
        </div>
      </footer>
    </div>
  </body>
  <script src="/assets/app.js"></script>
</html>
