<form class="flex flex-col gap-4 w-full" action="/reg" method="post">
    <label for="username">Username:<input type="text" name="username" id="username" class="w-full border rounded border-slate-800"></label>
    <label for="password">Password:<input type="text" name="password" id="password" class="w-full border rounded border-slate-800"></label>
    <div class="flex flex-row gap-5">
        <input type="submit" value="Register" class="bg-slate-800 text-white rounded w-[15%]">
        <a href="#" hx-target="#main" hx-swap="innerHTML" hx-get="/templates/login.html" hx-trigger="click">Log In</a>
    </div>
</form>